{% extends 'basetemplate.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <h1 class="pt-5 pb-5">Отправить нам сообщение</h1>
    <div class="col-4">
        <form method="post" class="">
            <p><label class="col-12">Заголовок
                <input class="col-12" type="text" name="title">
            </label></p>
            <p><label class="col-12">Ваш email
                <input class="col-12" type="email" name="email">
            </label></p>
            <p><label class="col-12"> Текст сообщения
                <textarea class="col-12" type="text" name="text"></textarea>
            </label></p>
            <p>
                <button class="btn btn-primary col-12" type="submit">Отправить</button>
            </p>
        </form>
    </div>

{% endblock %}