{% extends "basetemplate.html" %}

{% block title %}Добавить покупателя{% endblock %}

{% block style %}{% include "includes/inc_style_css.html" %}{% endblock %}

{% block menu %}{% include "includes/inc_menu.html" %}{% endblock %}

{% block content %}
    <h1 class="pt-5">Добавить покупателя</h1>
    <form method="post" class="mt-5">
        <input type="text" name="name" placeholder="Имя покупателя" class="col-4">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
{% endblock %}