{% extends "basetemplate.html" %}

{% block title %}Добавить покупателя{% endblock %}

{% block style %}{% include "includes/inc_style_css.html" %}{% endblock %}

{% block menu %}{% include "includes/inc_menu.html" %}{% endblock %}

{% block content %}
    <h1 class="pt-5">Добавить покупателя</h1>
    <form method="post" class="mt-5">

        <p><input type="text" name="username" placeholder="username" class="col-4"></p>
        <p><input type="text" name="first_name" placeholder="Имя покупателя" class="col-4"></p>
        <p><input type="text" name="last_name" placeholder="Фамилия покупателя" class="col-4"></p>
        <button type="submit" class="btn btn-primary col-4">Сохранить</button>
    </form>
{% endblock %}